# ADTA5340:  Python Examples of Lists, Tuples, Set, and Dictionaries

In [1]:
print("hello World")

hello World

In [2]:
john = "A 25-year-old gentleman"
John = "A middle-aged man"
print("First john: " + john)
print("Second John: " + John)

First john: A 25-year-old gentleman
Second John: A middle-aged man

## Lists

In [3]:
# Creating an empty List
l = []

# Adding Element into list
l.append(5)
l.append(10)
print("Adding 5 and 10 in list", l)

Adding 5 and 10 in list [5, 10]

In [4]:
# Popping Elements from list
l.pop(1)
print("Popped one element from list", l)
print()

Popped one element from list [5]

In [5]:
# What if we change the name of the list to groceries?
groceries = []
# Let's add groceries to our list
groceries.append ('apples')
# Let's try to add four items and see what happens.
#groceries.append ('cheese','lettuce', 'milk','eggs')
#Let's do that one by one.
groceries.append ('cheese')
groceries.append ('lettuce')
groceries.append ('milk')
groceries.append ('eggs')
print("I need to add",groceries,"to my grocery list.")

I need to add ['apples', 'cheese', 'lettuce', 'milk', 'eggs'] to my grocery list.

In [6]:
#What if we want to change the value from 'cheese' to 'peanut butter' in the groceries list?
groceries[1]='peanut butter'
print("I need to add",groceries,"to my grocery list.")

I need to add ['apples', 'peanut butter', 'lettuce', 'milk', 'eggs'] to my grocery list.

In [7]:
# Popping Elements from list
groceries.pop(1)
print("Popped one element from list", groceries)
print()

Popped one element from list ['apples', 'lettuce', 'milk', 'eggs']

## Set

In [8]:
# Set
s = set()

# Adding element into set
s.add(5)
s.add(10)
print("Adding 5 and 10 in set", s)

Adding 5 and 10 in set {10, 5}

In [9]:
# Removing element from set
s.remove(5)
print("Removing 5 from set", s)
print()

Removing 5 from set {10}

In [10]:
# What if we change the name of the set to groceries?
groceries = set()

# Let's add groceries to our list
groceries.add ('apples')
# Let's try to add four items and see what happens.
#groceries.append ('cheese','lettuce', 'milk','eggs')
#Let's do that one by one.
groceries.add ('cheese')
groceries.add ('lettuce')
groceries.add ('milk')
groceries.add ('eggs')
print("I need to add",groceries,"to my grocery set.")

I need to add {'milk', 'apples', 'lettuce', 'cheese', 'eggs'} to my grocery set.

In [11]:
#Let's remove an element from the grocery set using an index value, 0.
#groceries.remove (0)
#print("Removing the first element from the grocery set", groceries)
#Let's try using the element name.
groceries.remove ('lettuce')
print("Removing the first element from the grocery set", groceries)

Removing the first element from the grocery set {'milk', 'apples', 'cheese', 'eggs'}

In [12]:
# Note: The values True and 1 are considered the same 
#value in sets, and are treated as duplicates. The same goes for
#False and 0. Which ever is listed first will be printed.
myset={"dog", "cat", "snake", True, 1, 0, False}
print(myset)

{0, True, 'snake', 'dog', 'cat'}

In [13]:
# Note: The values True and 1 are considered the same 
#value in sets, and are treated as duplicates. The same goes for
#False and 0. Which ever is listed first will be printed.
#Sets are different than lists. If you want to preserve an order, use a list.
myset2={1,True,0, False,"dog", "cat", "snake"}
print(myset2)

{0, 1, 'snake', 'dog', 'cat'}

In [14]:
#Remember:Sets are unordered. Set elements are unique. Duplicate elements are not allowed.
myset3={"dog","dog", "cat", "snake", True, 1, 0, False}
print(myset3)
print(type(myset3))

{0, True, 'snake', 'dog', 'cat'}
<class 'set'>

## Tuples

In [15]:
# Tuples are ordered and indexed so they can have items with the same value
mytuple = ('lettuce', 'apples', 'eggs', 'milk', 'cheese','lettuce')
print(mytuple)

('lettuce', 'apples', 'eggs', 'milk', 'cheese', 'lettuce')

In [16]:
#Let's get the length of this tuple.  We see there are 5 items.
print(len(mytuple))

6

In [17]:
#Let's create a tuple with one zero.  
#We have to add a comma at the end or it is not considered a tuple.
atuple= (1,)
print(atuple)
print(type(atuple))

notatuple = (1)
print(type(notatuple))

#What if we have a string?
tuple_not = ('baby')
print(type(tuple_not))

# String as a tuple
tuple_yes = ("baby",)
print (type(tuple_yes))

(1,)
<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'tuple'>

## Dictionary

In [18]:
# Dictionary
d = {}

# Adding the key value pair
d[5] = "Five"
d[10] = "Ten"
print("Dictionary", d)

Dictionary {5: 'Five', 10: 'Ten'}

In [19]:
# Removing key-value pair
del d[10]
print("Dictionary", d)

Dictionary {5: 'Five'}

In [20]:
mydictionary = {
    "dog_2 name": "Mufasa", 
    "cat name": "Kazuo", 
    "dog_1 name": "Luna",
    "snake name": "Slytherin"
}
print(mydictionary["cat name"])

Kazuo

In [21]:
#Duplicates not allowed. Duplicate values will overwrite existing values
mydictionary = {
    "dog name": "Mufasa", 
    "cat name": "Kazuo", 
    "dog name": "Luna",
    "snake name": "Slytherin"
}
print(mydictionary)

{'dog name': 'Luna', 'cat name': 'Kazuo', 'snake name': 'Slytherin'}

In [22]:

# Python code to demonstrate working of iskeyword()
 
# importing "keyword" for keyword operations
import keyword
 
# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']